.rate-table td, .rate-table th {
    width: 50%;
}

.customer-fine-table td, .customer-fine-table th {
    width: 25%;

}

.nav-link:hover {
    font-size: 1.1rem;
    font-weight: bold;
}

.active {
    color: #0056b3;
    font-weight: bold;
}